* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}


a {
    color: #333;
    text-decoration: none; 
}

.box {
    width: 298px;
    height: 415px;
    background-color: #fff;
    margin:100px auto;  /*块级盒子水平居中对齐*/
}

.box img {
    width: 298px;
}

.judge {
    height: 70px;
    font-size: 14px;
    padding: 0 28px;  /*上下为0 左右为28*/
                      /*因为此段落无 width 属性，用 padding 不会撑开盒子的宽度*/

    margin-top: 30px;  /*因为此段落有 height 属性，用 padding-top 会撑开盒子的宽度*/   
}

.fromJudge {
    font-size: 12px;
    color: gray;
    margin-top: 20px;
    padding: 0 28px;
}

.info {
     padding: 0 28px;
     margin-top: 20px;
}

.info h4 {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
}

.info span {
   color: orange;
}

.info em {
    font-style: normal;
    color:#ebe4e0;
}







