* {
    margin: 0;
    padding: 0;
}

.box {
    width: 248px;
    height: 163px;
    border: 1px solid #ccc;
    margin: 100px auto;
}

ul {
    padding-top: 7px;
}

li {
   list-style: none;   /*去掉 li 标签前面的表顺序的圆点符号*/
   height: 23px;
   line-height: 23px;
   padding-left: 15px;
}

a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.box h3 {
    height: 32px;
    border-bottom: 1px dotted #ccc ;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    padding-left: 15px;   /*不能用margin来做 margin-left: 15px 错误*/
}








